.card-course {
  font-family: 'Inter', sans-serif;
  border-radius: 5px;
  padding: 14px;
  width: 450px;
  max-height: 218px;  
  border: 1.5px solid #b0b0b0;
  background: #fff;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  display: flex;
  flex-direction: column;
}

.card-course:hover {
  transform: scale(1.02);
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 6px;
  object-fit: cover;
  margin-right: 18px;
}

.course-info {
  flex-grow: 1;
}

.course-info {
  border: none !important;
  border-top: none !important;
  margin-top: 0 !important;
  padding: 0 !important;
}


.course-info h3 {
  font-size: 18px;
  margin: 4px 0;
  font-weight: 600;
  color: #222;
}

.instructor {
  margin-top: 4px;
  font-size: 15px;
  color: #666;
  margin: 0;
}


.card-body p {
  font-size: 14px;
  color: #333;
  line-height: 1.4;
  margin: 0;
}

.card-buttons {
  margin:10px 0;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.card-buttons .tag {
  background-color: #B2EBB9;
  padding: 8px 20px;
  border-radius: 6px;
  font-size: 12px;
  color: #426E5B;
}

.card-divider {
  border: none;
  border-top: 1px solid #e0e0e0;
  margin: 5px 0 10px 0;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #888888;
}

  /* Адаптивность */
@media (max-width: 600px) {
  .card-course {
    width: 90vw;
    height: auto;
    padding: 12px;
  }

  .card-header {
    flex-direction: row;
    align-items: flex-start;
  }

  .avatar {
    width: 40px;
    height: 40px;
  }

  .course-info h3 {
    font-size: 16px;
  }

  .instructor {
    font-size: 14px;
  }

  .card-body p {
    font-size: 13px;
  }

  .card-buttons .tag {
    padding: 6px 16px;
    font-size: 11px;
  }

  .card-footer {
    font-size: 14px;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
  }
}
